@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap, 16px)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap, 16px)));
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}
